<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Менеджер фінансів</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/categories">Категорії</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/transactions">Транзакції</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Дії
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/category/add">Додати категорію</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/transaction/add">Додати транзакцію</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Звіти
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/report">Звіт по транзакціям</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/dbdreport">Звіт по дням</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!authService.isLogged">
        <a class="nav-link" >Ввійти</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLogged">
        <a class="nav-link" routerLink="/auth" (click)="logOut()">Вийти</a>
      </li>
    </ul>
    </div>
  </nav>
  <div class="col-sm-12">
  <router-outlet></router-outlet>
  </div>
</div>

